<link rel="stylesheet" href="/css/footer.css">

<footer>
    <div class="footer-container">
        <div class="social-links">
            <a href="#" class="footer-link">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="footer-link">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="footer-link">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="footer-link">
                <i class="fab fa-discord"></i>
            </a>
        </div>
        <hr />
        <div class="copyright-text">
            <p>&copy; iCoder, All rights reserved - <%= new Date().getFullYear() %>.</p>
        </div>
        <hr />
        <div class="quick-links">
            <a href="/developers" class="quick-link">Developers</a>
            <span class="bullet">&bull;</span>
            <a href="/carriers" class="quick-link">Career</a>
            <span class="bullet">&bull;</span>
            <a href="/contact" class="quick-link">Contact</a>
            <span class="bullet">&bull;</span>
            <a href="/faq" class="quick-link">FAQs</a>
        </div>
    </div>
</footer>
