<link rel="stylesheet" href="/css/about.css">
<div class="row">
    <div class="side">
        <h2>About us</h2>
        <p>Welcome to iCoder, your number one source for competitive programming.<br>We're dedicated to giving you the very best learning exposer, with a focus on fundamental concepts.<br>
            Founded in 2024 by <a href="/developers" style="color: cyan;">us</a>. iCoder has come a long way from its beginnings in july 2021.
                We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact iCoder team.<br />Sincerely, iCoder team.</p>
        <br />
        <img src="/images/developers/group_pic.jpg" alt="Group Pic" style="width: 100%">
    </div>
    <div class="main">
        <h2>HOW IT STARTED?</h2>
        <p>It all started with group project...</p>
        <img src="/images/bg/compressed/idea.png" alt="Idea!">
        <p>Being CS students we wanted to develop
            something that helps fellow programmers to
            ease up the challenges faced by them
            everytime while coding.</p>
        <p>We are a learning and growing organisation
            consisting of students, the initial version
            of the website only consists of 3 languages
            but in near future we plan to add more languages
            as well as other learning medium to add a
            little more spice to our website!
            Help us improve by giving us feedback in the
            "Contact us" section.</p>
        <br>
        <h2>FUTURE PLANS?</h2>
        <p>Title description</p>
        <img src="/images/bg/compressed/developer_future.png" alt="Developer Future!">
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
</div>
