<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<link rel="stylesheet" href="/css/developers.css">

<div class="container">
    <div class="head-container">
        <h1 class="head-text typings rainbow rainbow_text_animated"></h1>
    </div>
    <div class="cards-container swiper">
            <div class="swiper-wrapper">
                <div class="card swiper-slide">
        <div class="profile">
            <img src="/images/developers/generic-male.jpg">
            <p class="profile-name">Vatsal Ghoghari</p>
        </div>
        <div class="profile-bottom">
            <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et metus sem. Nulla finibus, risus vel lobortis elementum, lectus massa imperdiet eros, vitae bibendum tellus metus non nisi. Vivamus a tristique nibh.</p>
            <div class="btn-container">
                <button class="msg-btn">Message</button>
                <button class="follow-btn">Follow</button>
            </div>
        </div>
    </div>
                <div class="card swiper-slide">
        <div class="profile">
            <img src="/images/developers/generic-male.jpg">
            <p class="profile-name">Vedant Bhatt</p>
        </div>
        <div class="profile-bottom">
            <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et metus sem. Nulla finibus, risus vel lobortis elementum, lectus massa imperdiet eros, vitae bibendum tellus metus non nisi. Vivamus a tristique nibh.</p>
            <div class="btn-container">
                <button class="msg-btn">Message</button>
                <button class="follow-btn">Follow</button>
            </div>
        </div>
    </div>
                <div class="card swiper-slide">
        <div class="profile">
            <img src="/images/developers/generic-male.jpg">
            <p class="profile-name">Devasya Joshi</p>
        </div>
        <div class="profile-bottom">
            <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et metus sem. Nulla finibus, risus vel lobortis elementum, lectus massa imperdiet eros, vitae bibendum tellus metus non nisi. Vivamus a tristique nibh.</p>
            <div class="btn-container">
                <button class="msg-btn">Message</button>
                <button class="follow-btn">Follow</button>
            </div>
        </div>
    </div>
                <div class="card swiper-slide">
        <div class="profile">
            <img src="/images/developers/generic-male.jpg">
            <p class="profile-name">Mann Chandrana</p>
        </div>
        <div class="profile-bottom">
            <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et metus sem. Nulla finibus, risus vel lobortis elementum, lectus massa imperdiet eros, vitae bibendum tellus metus non nisi. Vivamus a tristique nibh.</p>
            <div class="btn-container">
                <button class="msg-btn">Message</button>
                <button class="follow-btn">Follow</button>
            </div>
        </div>
    </div>
                <div class="card swiper-slide">
        <div class="profile">
            <img src="/images/developers/generic-male.jpg">
            <p class="profile-name">Bhavik Ambasana</p>
        </div>
        <div class="profile-bottom">
            <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et metus sem. Nulla finibus, risus vel lobortis elementum, lectus massa imperdiet eros, vitae bibendum tellus metus non nisi. Vivamus a tristique nibh.</p>
            <div class="btn-container">
                <button class="msg-btn">Message</button>
                <button class="follow-btn">Follow</button>
            </div>
        </div>
    </div>
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/js/developers.js"></script>