<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<link rel="stylesheet" href="/css/developers.css">

<div class="container">
    <h1 class="head-text rainbow rainbow_text_animated">"Meet Us, Developers of iCoder..."</h1>
    <div class="cards-container swiper">
            <div class="swiper-wrapper">
                <div class="card swiper-slide">
        <div class="profile">
            <img src="/images/developers/vatsal.jpg">
            <p class="profile-name">Vatsal Ghoghari</p>
        </div>
        <div class="profile-bottom">
            <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et metus sem. Nulla finibus, risus vel lobortis elementum, lectus massa imperdiet eros, vitae bibendum tellus metus non nisi. Vivamus a tristique nibh.</p>
            <div class="btn-container">
                <a href="https://web.whatsapp.com/send?phone=917203088769" target="_blank" class="msg-btn">Message</a>
                <a href="https://www.instagram.com/vatsal_ghoghari/" target="_blank" class="follow-btn">Follow</a>
            </div>
        </div>
    </div>
                <div class="card swiper-slide">
        <div class="profile">
            <img src="/images/developers/vedant.jpg">
            <p class="profile-name">Vedant Bhatt</p>
        </div>
        <div class="profile-bottom">
            <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et metus sem. Nulla finibus, risus vel lobortis elementum, lectus massa imperdiet eros, vitae bibendum tellus metus non nisi. Vivamus a tristique nibh.</p>
            <div class="btn-container">
                <a href="https://web.whatsapp.com/send?phone=919638766257" target="_blank" class="msg-btn">Message</a>
                <a href="https://www.instagram.com/vedant_bhatt/" target="_blank" class="follow-btn">Follow</a>
            </div>
        </div>
    </div>
                <div class="card swiper-slide">
        <div class="profile">
            <img src="/images/developers/generic-male.jpg">
            <p class="profile-name">Devasya Joshi</p>
        </div>
        <div class="profile-bottom">
            <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et metus sem. Nulla finibus, risus vel lobortis elementum, lectus massa imperdiet eros, vitae bibendum tellus metus non nisi. Vivamus a tristique nibh.</p>
            <div class="btn-container">
                <a href="https://web.whatsapp.com/send?phone=919909922154" target="_blank" class="msg-btn">Message</a>
                <a href="https://www.instagram.com/_devasya_joshi/" target="_blank" class="follow-btn">Follow</a>
            </div>
        </div>
    </div>
                <div class="card swiper-slide">
        <div class="profile">
            <img src="/images/developers/mann.jpg">
            <p class="profile-name">Mann Chandarana</p>
        </div>
        <div class="profile-bottom">
            <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et metus sem. Nulla finibus, risus vel lobortis elementum, lectus massa imperdiet eros, vitae bibendum tellus metus non nisi. Vivamus a tristique nibh.</p>
            <div class="btn-container">
                <a href="https://web.whatsapp.com/send?phone=919023974622" target="_blank" class="msg-btn">Message</a>
                <a href="#" class="follow-btn">Follow</a>
            </div>
        </div>
    </div>
                <div class="card swiper-slide">
        <div class="profile">
            <img src="/images/developers/bhavik.jpg">
            <p class="profile-name">Bhavik Ambasana</p>
        </div>
        <div class="profile-bottom">
            <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et metus sem. Nulla finibus, risus vel lobortis elementum, lectus massa imperdiet eros, vitae bibendum tellus metus non nisi. Vivamus a tristique nibh.</p>
            <div class="btn-container">
                <a href="https://web.whatsapp.com/send?phone=917990122802" target="_blank" class="msg-btn">Message</a>
                <a href="https://www.instagram.com/bhavikambasana90/" target="_blank" class="follow-btn">Follow</a>
            </div>
        </div>
    </div>
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/js/developers.js"></script>