<link rel="stylesheet" href="/css/home.css">

<section class="main">
    <h1 class="hero-text">Welcome to iCoder!</h1>
    <div class="typings-conatiner">
        <div class="typings"></div>
    </div>
    <a href="/practice" class="hero-btn">Get Started</a>
    <img src="/images/icons/down-arrow.svg" class="down-arrow" />
</section>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script type="text/javascript" src="/js/home.js"></script>