<link rel="stylesheet" href="/css/login.css">

<section class="user-login">
<div class="login-page">
    <div class="login-head-text">
        <img src="/images/logo/logo_dark.png" alt="logo">
        <h1>User Login</h1>
        <p>Login with one of these available social accounts.</p>
    </div>
    <div class="login-links">
        <a href="/auth/github" class="login-btn" id="github-login"><i class="fab fa-github"></i><p>Github</p></a>
        <a href="/auth/google" class="login-btn" id="google-login"><i class="fab fa-google"></i><p>Google</p></a>
        <a href="/auth/facebook" class="login-btn" id="facebook-login"><i class="fab fa-facebook-square"></i><p>Facebook</p></a>
    </div>
    <a href="/" id="homepage-btn"><i class="fas fa-angle-left"></i>Homepage</a>
</div>
</section>