<link rel="stylesheet" href="/css/prepare.css">

<div class="container">
    <div class="cards">
        <div class="card">
            <img src="/images/badges/java_gold.svg" alt="badge" width="110"/>
            <h3 class="card-title">Java</h3>
            <p><span style="color: var(--google-btn)">100</span> Points!</p>
            <a href="/questions/java">Continue Preparation <i class="fas fa-angle-right"></i></a>
        </div>
        <div class="card">
            <img src="/images/badges/cpp_silver.svg" alt="badge" width="110"/>
            <h3 class="card-title">C++</h3>
            <p><span style="color: var(--google-btn)">50</span> Points!</p>
            <a href="/questions/cpp">Continue Preparation <i class="fas fa-angle-right"></i></a>
        </div>
        <div class="card">
            <img src="/images/badges/python_bronze.svg" alt="badge" width="110"/>
            <h3 class="card-title">Python</h3>
            <p><span style="color: var(--google-btn)">0</span> Points!</p>
            <a href="/questions/python">Continue Preparation <i class="fas fa-angle-right"></i></a>
        </div>
    </div>
</div>