@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans.woff2") format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Segoe Print';
    src: url("../fonts/segoepr.woff2") format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu Mono';
    src: url("../fonts/UbuntuMono.woff2") format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.woff2") format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Brutal Type';
    src: url("../fonts/BrutalType.woff2") format('woff2');
    font-display: swap;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}